torch
pytorch_lightning
numpy
pandas
scikit-learn
pyarrow
mlflow
unidecode
nltk
fasttext
torch
pytorch_lightning
numpy
pandas
scikit-learn
pyarrow==16.1.0
mlflow
unidecode
nltk
fasttext
captum
ipywidgets