torch
pytorch_lightning
numpy
pandas
scikit-learn
pyarrow
mlflow
nltk
fasttext
torch
pytorch_lightning
pandas
scikit-learn
pyarrow==16.1.0
mlflow
unidecode
fasttext
captum
ipywidgets
seaborn
ruff>=0.7.1
pre-commit
